# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with:

"mongoimport --type json -d uk_food -c establishments --drop --jsonArray establishments.json"

In [89]:
# Import dependencies

from pymongo import MongoClient
from pprint import pprint
import json

# data science
import pandas as pd
import numpy as np

In [90]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [92]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'fruit_db', 'helloworld', 'local', 'met', 'petsitly_marketing', 'uk_food']

In [93]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [40]:
# review the collections in our new database
print(db.list_collection_names())

['establishments']

In [42]:
# review a document in the establishments collection
db.establishments.find_one()

{'_id': ObjectId('669ad06ab16c486a6c782bf2'),
 'FHRSID': 254719,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000069980',
 'BusinessName': 'Refreshment Kiosk',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'The Bay',
 'AddressLine2': 'St Margarets Bay',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'PostCode': 'CT15 6DY',
 'Phone': '',
 'RatingValue': '5',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingDate': '2022-03-24T00:00:00',
 'LocalAuthorityCode': '182',
 'LocalAuthorityName': 'Dover',
 'LocalAuthorityWebSite': 'http://www.dover.gov.uk/',
 'LocalAuthorityEmailAddress': 'publicprotection@dover.gov.uk',
 'scores': {'Hygiene': 0, 'Structural': 5, 'ConfidenceInManagement': 5},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': '1.387974', 'latitude': '51.152225'},
 'RightToReply': '',
 'Distance': 4587.347174863443,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/254719'}]}

In [43]:
# assign the collection to a variable
establishments = db['establishments']

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [44]:
# Create a dictionary for the new restaurant data
new_restaurant = {
    "BusinessName":"Penang Flavours",
    "BusinessType":"Restaurant/Cafe/Canteen",
    "BusinessTypeID":"",
    "AddressLine1":"Penang Flavours",
    "AddressLine2":"146A Plumstead Rd",
    "AddressLine3":"London",
    "AddressLine4":"",
    "PostCode":"SE18 7DY",
    "Phone":"",
    "LocalAuthorityCode":"511",
    "LocalAuthorityName":"Greenwich",
    "LocalAuthorityWebSite":"http://www.royalgreenwich.gov.uk",
    "LocalAuthorityEmailAddress":"health@royalgreenwich.gov.uk",
    "scores":{
        "Hygiene":"",
        "Structural":"",
        "ConfidenceInManagement":""
    },
    "SchemeType":"FHRS",
    "geocode":{
        "longitude":"0.08384000",
        "latitude":"51.49014200"
    },
    "RightToReply":"",
    "Distance":4623.9723280747176,
    "NewRatingPending":True
}

In [45]:
# Insert the new restaurant into the collection
establishments.insert_one(new_restaurant)

InsertOneResult(ObjectId('669e80152a94029daac13c79'), acknowledged=True)

In [50]:
# Check that the new restaurant was inserted
query = {"BusinessName": "Penang Flavours"}
results = establishments.find(query)


df = pd.DataFrame(results)
df

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,LocalAuthorityCode,LocalAuthorityName,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending
0,669e80152a94029daac13c79,Penang Flavours,Restaurant/Cafe/Canteen,,Penang Flavours,146A Plumstead Rd,London,,SE18 7DY,,511,Greenwich,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': '', 'Structural': '', 'ConfidenceI...",FHRS,"{'longitude': '0.08384000', 'latitude': '51.49...",,4623.972328,True

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [32]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields
query = {"BusinessType": "Restaurant/Cafe/Canteen"}
fields = {"BusinessTypeID": 1, "BusinessType": 1}

results = establishments.find(query, fields)

df = pd.DataFrame(results)
df.head()

                        _id             BusinessType BusinessTypeID
0  669ad06ab16c486a6c782bf2  Restaurant/Cafe/Canteen              1
1  669ad06ab16c486a6c782bf5  Restaurant/Cafe/Canteen              1
2  669ad06ab16c486a6c782bf7  Restaurant/Cafe/Canteen              1
3  669ad06ab16c486a6c782bf8  Restaurant/Cafe/Canteen              1
4  669ad06ab16c486a6c782bf9  Restaurant/Cafe/Canteen              1

3. Update the new restaurant with the `BusinessTypeID` you found.

In [55]:
# Update the new restaurant with the correct BusinessTypeID

# Update the object field in a document
establishments.update_one(
    {"BusinessName": "Penang Flavours"},
    {"$set": {"BusinessTypeID": "1"}}
)

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [58]:
# Confirm that the new restaurant was updated
query = {"BusinessName": "Penang Flavours"}
results = establishments.find(query)


df = pd.DataFrame(results)
df

,_id,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,AddressLine4,PostCode,Phone,LocalAuthorityCode,LocalAuthorityName,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending
0,669e80152a94029daac13c79,Penang Flavours,Restaurant/Cafe/Canteen,1,Penang Flavours,146A Plumstead Rd,London,,SE18 7DY,,511,Greenwich,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': '', 'Structural': '', 'ConfidenceI...",FHRS,"{'longitude': '0.08384000', 'latitude': '51.49...",,4623.972328,True

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [77]:
# Find how many documents have LocalAuthorityName as "Dover"
query = {"LocalAuthorityName": "Dover"}
results = establishments.find(query)

df = pd.DataFrame(results)
df.LocalAuthorityName.count()

In [74]:
# Delete all documents where LocalAuthorityName is "Dover"
establishments.delete_many(query)

DeleteResult({'n': 994, 'ok': 1.0}, acknowledged=True)

In [78]:
# Check if any remaining documents include Dover
results = establishments.find(query)

for result in results:
    print(result)

In [79]:
# Check that other documents remain with 'find_one'
db.establishments.find_one()

{'_id': ObjectId('669ad06ab16c486a6c782ed9'),
 'FHRSID': 1043695,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'PostCode': 'CT19 6BL',
 'Phone': '',
 'RatingValue': '5',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingDate': '2018-04-04T00:00:00',
 'LocalAuthorityCode': '188',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'scores': {'Hygiene': 5, 'Structural': 5, 'ConfidenceInManagement': 5},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': '1.195625', 'latitude': '51.083812'},
 'RightToReply': '',
 'Distance': 4591.765489457773,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/1043695'}]}

5. Some of the number values are stored as strings, when they should be stored as numbers.

Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [81]:
# Change the data type from String to Decimal for longitude and latitude

establishments.update_many({}, [
    {'$set': {'geocode.latitude': {'$toDouble': '$geocode.latitude'}}}
])

establishments.update_many({}, [
    {'$set': {'geocode.longitude': {'$toDouble': '$geocode.longitude'}}}
])

UpdateResult({'n': 38786, 'nModified': 38786, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

Use `update_many` to convert `RatingValue` to integer numbers.

In [82]:
# Set non 1-5 Rating Values to Null
non_ratings = ["AwaitingInspection", "Awaiting Inspection", "AwaitingPublication", "Pass", "Exempt"]
establishments.update_many({"RatingValue": {"$in": non_ratings}}, [ {'$set':{ "RatingValue" : None}} ])

UpdateResult({'n': 4091, 'nModified': 4091, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [83]:
# Change the data type from String to Integer for RatingValue
establishments.update_many({}, [
    {"$set": {"RatingValue": {"$toInt": "$RatingValue"}}}
])

UpdateResult({'n': 38786, 'nModified': 34695, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [96]:
# Check that the coordinates and rating value are now numbers
results = db.establishments.find()
df = pd.DataFrame(results)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38786 entries, 0 to 38785
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         38786 non-null  object
 1   FHRSID                      38785 non-null  float64
 2   ChangesByServerID           38785 non-null  float64
 3   LocalAuthorityBusinessID    38785 non-null  object
 4   BusinessName                38786 non-null  object
 5   BusinessType                38786 non-null  object
 6   BusinessTypeID              38786 non-null  object
 7   AddressLine1                38786 non-null  object
 8   AddressLine2                38786 non-null  object
 9   AddressLine3                38786 non-null  object
 10  AddressLine4                38786 non-null  object
 11  PostCode                    38786 non-null  object
 12  Phone                       38786 non-null  object
 13  RatingValue                 34694 non-null  float64
 14  RatingKey                   38785 non-null  object
 15  RatingDate                  38785 non-null  object
 16  LocalAuthorityCode          38786 non-null  object
 17  LocalAuthorityName          38786 non-null  object
 18  LocalAuthorityWebSite       38786 non-null  object
 19  LocalAuthorityEmailAddress  38786 non-null  object
 20  scores                      38786 non-null  object
 21  SchemeType                  38786 non-null  object
 22  geocode                     38786 non-null  object
 23  RightToReply                38786 non-null  object
 24  Distance                    38786 non-null  float64
 25  NewRatingPending            38786 non-null  bool
 26  meta                        38785 non-null  object
 27  links                       38785 non-null  object
dtypes: bool(1), float64(4), object(23)
memory usage: 8.0+ MB